NEXT_PUBLIC_EMAILJS_SERVICE_ID="service_uxrlbo9"
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID="template_cim8xly"
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY="B5cZleOILG5ZVimee"
NEXT_PUBLIC_GTM="your_gtm_id_here"
NEXT_PUBLIC_APP_URL="https://shreyagupta97.netlify.app/"
NEXT_PUBLIC_RECAPTCHA_SECRET_KEY="your_recaptcha_secret_key_here"
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="your_recaptcha_site_key_here"
